

/* MAIN LAYOUT */
.main-layout {
    display: grid;
    grid-template-columns: .5fr 4fr .5fr 4fr .5fr;
    row-gap: 50px;
}


/*MAIN HEADER LAYOUT */
.main-header {
    grid-column: 1/-1;
}

.main-header-content>:first-child {
    grid-column: 2;
}

.main-nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    grid-column: 4;
}

/* MAIN CONTENT LAYOUT */

.main-content {
    grid-column: 1/-1;
}

.canvas-container {
    grid-column: 2;
}



/* EDITOR CONTROLLER LAYOUT */

.controller-container {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    row-gap: 20px;
    grid-column: 4;
}

.text-controller {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.font-controller {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 5px;
}

.font-fam-input {
    grid-column: 1/4;
}

.sticker-controller {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.download-controller {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* GALLERY SECTION LAYOUT */

.gallery-section {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 5px;
    row-gap: 5px;
}























