.main-header {
    border: solid;
    padding-block: 5px;
    background-color: var(--clr-brand-basic);
}

.logo {
    place-self: center start;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, sans-serif
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main-nav-container a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}




