.main-header {
    border: solid;
    padding-block: 5px;
    background-color: var(--clr-brand-basic);
}

.logo {
    place-self: center start;
    font-size: 2rem;
}


.main-nav-container a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}




